---
import Layout from '../layouts/Layout.astro';

import Button from '../components/button'
type Message= {
	  message: string;
}
const data:Message = await fetch(`http://backend:3000/`).then((res) => res.json());

console.log(data);
---

<Layout title="Welcome to Astro.">
	<main>

		<h1>
		 {
			data.message
		 }
		 </h1>

		 <Button client:load></Button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
